@import "materialize-0.97.7.css";

.output-text {
  white-space: pre-wrap;
  line-height: 1.5;
}

.emoji-size {
  font-size: 3em;
}

.key-selector {
  display: inline-block;
  height: 1.3em;
  padding: 0 0.1em;
  border-radius: 20px;
}

.key-selector:not(.is-selected):hover {
  background-color: #4fc3f7;
  opacity: 0.3;
}

.key-selector.is-selected {
  background-color: #4fc3f7;
}


input.search-bar {
    width: 20%;
    margin-right: 2%
}

div.search-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div.sidebar-container {
    position: absolute;
    margin-left: 3rem;
}

.noBtMrgn {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div.timer-container {
    position: absolute;
    margin-left: 3rem;
}

div.score-container {
    position: absolute;
    margin-right: 3rem;
}

button.search-btn {
    display: none;
    margin: 0 2rem 0 5px;
}

button.search-btn-show {
    margin: 0 2rem 0 5px;
    display: inline-block;
}

table.conj-table {
    width: 46%;
    margin: 0 1% 0 1%;
}

div.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.error-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.single {
    justify-content: center;
}

.answers {
    width: 50%
}

div.answer-container {
    display: flex;
}

.answer-num {
    flex-grow: 1;
}

.answer {
    flex-grow: 8;
    justify-content: center;
    pointer-events: none;
}

div.subject-container {
    justify-content: center;
    margin-bottom: 2rem;
}

div.header-container {
    display: flex;
}

h1.timer-text {
    font-size: 120pt;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1.score-text {
    font-size: 50pt;
}

div.answer-actual {
    background-color: rgb(56, 142, 60) !important;
}

li.answer-disabled {
  pointer-events: none;
}

.xl-button {
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  margin-top: 1rem;
}

button.restart-btn {
  margin-top: 1rem;
}

.big-nav {
  height: 7rem;
}

.nav-text {
  line-height: 6rem;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.app-name {
  font-size: 6rem;
}